.client{
    @extend %section;
}
.container{
    @extend %container;
}
.client__title{
    @extend %title-h2;
}
.client__list {
    @extend %list;
    display: flex;
}

.client__item {
    display: flex;
    margin-right: 30px;
}

.client__item {
    &:last-child {
        margin-right: 0;
    }
}
.client__link {
    @extend %link;
    @include centered-flex ();
    
    width: 170px;
    height: 92px;
    border: 1px solid $primary-icon-fill;
    border-radius: 4px;
    color: $primary-icon-fill;
    transition: border-color 250ms $transition-timing-function,
        color 250ms $transition-timing-function;

    &:hover,
    &:focus {
        border-color: $accent-color;
        color: $accent-color;
    }
}

.client__icon {
    fill: currentColor;
}
