.features {
    @extend %container;
    @extend %section;
}

.features__title {
    @extend %visually-hidden;

}

.features__list {
    @extend %list;

    @media screen and (min-width:$tablet) {
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and (min-width:$tablet) and (max-width: 1199px) {
        margin: -15px
    }
}

.features__item {
    @media screen and(max-width:767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width:$tablet) and (max-width: 1199px) {
        width: calc((100% - 4*15px)/2);
        margin: 15px;
    }

    @media screen and (min-width:$desctop) {
        width: calc((100% - 30px*3) / 4);


        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.feature__box {
    @include centered-flex();

    height: 120px;
    background-color: $third-bgr-color;
    border-radius: 4px;
    margin-bottom: 30px;
}

.feature__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature__text {
    font-size: 14px;
    line-height: 1.71;
    color: $third-text-color;
}