.features {
    @extend %section, %container;
}

.features__title{
    @extend %visually-hidden;
}

.features__list {
    @extend %list;

    display: flex;
}

.features__item {
    width: calc((100%-#{$featire-total-indent}) / #{$feature-item});
    margin-right: 30px;
}

.features__item:last-child {
    margin-right: 0;
}

.feature__box {
    @include centered-flex();

    width: 270px;
    height: 120px;
    background-color: $third-bgr-color;
    border-radius: 4px;
    margin-bottom: 30px;
}

.feature__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature__text {
    font-size: 14px;
    line-height: 1.71;
    color: $third-text-color;
}