.footer {
    background-color: $secondary-bgr-color;
    padding: 60px 0;
}

.footer__title {
    @extend %visually-hidden;
}

.footer__item {
    @extend %container;

    @media screen and (max-width: 767px) {
        text-align: center;

    }

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }

    @media screen and (min-width: $tablet) and (max-width:1199px) {
        padding-left: 76px;
        padding-right: 89px;
    }

}

.footer-contacts {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width:$tablet) and (max-width:1199px) {
        margin-right: auto;
    }

    @media screen and (min-width:$desctop) {
        margin-right: 70px;
    }

}

.footer-contacts__list {
    @extend %list;
}

.footer-contacts__item {
    &:not(:last-child) {
        margin-bottom: 9px;
    }
}

.footer-contacts__link {
    @extend %link;

    line-height: 1.71;
    color: $footer-text-color;
    display: block;
    transition: color 250ms $transition-timing-function;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.footer-contacts__link--building {
    color: $second-text-color;
}

.footer__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $second-text-color;
    margin-bottom: 20px;
}

.footer-social {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }
          @media screen and (min-width:$desctop) {
              margin-right: auto;
          }
}

.footer-subscribe {
    @media screen and (min-width:$tablet) and (max-width:1199px) {
        margin: 60px auto 0 auto;
        text-align: center;
        width: 450px;
    }
    @media screen and (min-width:$desctop){
        width:570px ;
    }
}
.footer-subscribe__form{
    @media screen and (min-width:$desctop){
        display: flex;
    }
          
}
.footer-subscribe__input {
    position: relative;

    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
        width: 100%;
    }

    @media screen and (min-width:$desctop) {
        width: 100%;
        margin-right: 12px;

    }
}
.footer-subscribe__field {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: inherit;
    color: $second-text-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;
    outline: none;
    transition: border-color 250ms $transition-timing-function;

    &:hover,
    &:focus {
        border-color: $accent-color;
    }

}

.footer-subscribe__placeholder {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    font-size: 16px;
    line-height: 1.25;
    color: $footer-text-color;

    .footer-subscribe__form:focus+&,
    .footer-subscribe__field:not(:placeholder-shown)+& {
        opacity: 0;
    }

    //  transition: opacity 100ms $transition-timing-function; 
}

.footer-subscribe-btn {
    // margin-left: 12px;

    @extend %button;
    @include centered-flex ($type: inline-flex);
    height: 50px;

    padding: 0 28px;
    background-color: $accent-color;
    color: $second-text-color;

    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    transition: box-shadow 250ms $transition-timing-function;

    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.footer-subscribe-btn__text {
    margin-right: 10px;
}