.header {
    border-bottom: 1px solid var(--header-border-color);
}

.header__item {
    @extend %container;

    @media screen and (max-width: 767px) {
        position: relative;
        height: 60px;
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

.burger-menu {
    @media screen and (max-width: 767px) {
        position: fixed;
        top: 0;
        left: 50%;
        z-index: 1;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        background-color: #fff;

        padding: 48px 40px;

        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

        transform: translateX(-180%);
        @include transition($property: transform);


        &.is-open {
            opacity: 1;
            transform: translateX(-50%);
            max-width: 480px;


        }
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
    }


}

.burger-menu__btn {
    position: absolute;
    top: 12px;
    right: 23px;
    z-index: 10;
    @include centered-flex($type: inline-flex);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 10px;
    cursor: pointer;

    @include transition($property: color);

    & .icon-cross {
        opacity: 0;
        transform: translateX(-100%);
        @include transition($property: opacity transform);

    }

    &.is-open .icon-cross {
        opacity: 1;
        transform: translateX(0);
        @include transition($property: opacity transform);

    }

    &.is-open .icon-menu {
        opacity: 0;
        transform: translateX(100%);
        @include transition($property: opacity transform);
    }

    .icon-menu {
        opacity: 1;
        transform: translateX(0);
        @include transition($property: opacity transform);
    }

    &:hover,
    &:focus-visible {
        color: var(--accent-color);
    }

    @media screen and (min-width: $tablet) {
        display: none;
    }

}

.burger-menu__btn-icon {
    fill: currentColor;
}

.nav {

    @media screen and (min-width: $tablet) {
        margin-right: 84px;
    }

    @media screen and (min-width: $desktop) {
        margin-right: 305px;
    }
}

.nav__list {
    @extend %list;

    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
    }
}

.nav__item {
    @media screen and (max-width: 767px) {
        position: relative;
        margin-bottom: 32px;

    }

    @media screen and (min-width: $tablet) {
        &:not(:last-child) {
            margin-right: 50px;
        }
    }
}

.nav__item--current {
    color: var(--accent-color);
    position: relative;

    @media screen and (min-width:$tablet) {
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;

            width: 100%;
            height: 4px;
            background-color: var(--accent-color);
            border-radius: 2px;
        }
    }
}

.header__link {
    @extend %link;

    @media screen and (max-width: 767px) {
        @media screen and (max-width: 479px) {
            font-size: 30px;
        }

        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
    }

    @media screen and (min-width: $tablet) {
        display: inline-flex;
        align-items: center;
        padding: 32px 0 31px 0;
    }

    @include transition($property: color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contacts {
    @extend %list;

    @media screen and (max-width:767px) {
        display: flex;
        flex-direction: column-reverse;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: center;


    }
}

.contacts__item {
    @media screen and (max-width:767px) {
        &:first-child {
            margin-bottom: 64px;
        }

        &:last-child {
            margin-bottom: 32px;
        }
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

    }

    @media screen and (min-width: $desktop) {
        &:nth-child(-n + 1) {
            margin-right: 30px;
        }
    }

}

.contacts__link {
    @extend %link;
    display: flex;
    color: var(--third-text-color);
    @include transition($property: color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @media screen and (max-width: 767px) {
        @media screen and (max-width: 479px) {
            font-size: 20px;
        }

        font-size: 24px;
        line-height: 1.16;

        &--burgger-menu-tel {
            @media screen and (max-width: 479px) {
                font-size: 24px;
            }

            font-size: 34px;
            line-height: 1.18;
            color: var(--accent-color);
        }
    }

    @media screen and (min-width:$tablet) and (max-width: 1199px) {
        font-size: 12px;

    }

    @media screen and (min-width: $desktop) {
        display: inline-flex;
        align-items: center;
        padding: 32px 0 31px 0;
    }
}


.contacts__icon {
    margin-right: 10px;
    fill: currentColor;

    @media screen and (max-width:767px) {
        display: none;
    }
}