.logo {
    @extend %link;

    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo__accent {
    color: $accent-color;
}

.logo--footer {
    display: block;
    color: $second-text-color;
    margin-bottom: 20px;
}