.logo {
    @extend %link;

    @media screen and (max-width:1199px) {
        font-size: 24px;
        line-height: 1.16;
    }

    @media screen and (max-width:767px) {
        display: block;
        padding: 16px 0;
    }

    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

@media screen and (max-width:767px) {
    .logo--hidden {
        display: none;
    }
}

.logo__accent {
    color: $accent-color;
}

.logo--footer {
    display: block;
    color: $second-text-color;
    margin-bottom: 20px;
}