.logo {
  @extend %link;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  @media screen and (max-width: 767px) {
    display: block;
  }
  @media screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.16;
  }
}

.logo--header {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 16px;
    left: 15px;
    z-index: 5;
    opacity: 1;
    pointer-events: initial;
    transform: translateX(0);
    @include transition($property: transform opacity);
   
  }
}

@media screen and (max-width: 767px) {
  .logo--hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
  @include transition($property: transform opacity);
  }
}

.logo__accent {
  color: var(--accent-color);
}

.logo--footer {
  display: block;
  color: var(--second-text-color);
  margin-bottom: 20px;
}
