.team {
    @extend %section;
    background-color: var(--third-bgr-color);
    text-align: center;
}

.container {
    @extend %container;
}

.team__title {
    @extend %title-h2;
}

.team__list {
    @extend %list;

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        margin: -15px;
    }

}

.team__item {
    background-color: var(--primary-bgr-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width:767px){
        &:not(:last-child){
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        width: calc((100% - 15px*4)/2);
        margin: 15px;
    }
    @media screen and (min-width:$desktop){
        width: calc((100% - 30px*3)/4);
        &:not(:last-child){
            margin-right: 30px;
        }
    }
}
.team__meta {
    padding: 30px 0;
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
}

.team__position {
    font-size: 16px;
    line-height: 1.19;
    color: var(--third-text-color);
    margin-bottom: 16px;
}