  //  Colors 
  $primary-text-color: #212121;
  $second-text-color: #ffffff;
  $third-text-color: #757575;
  $accent-color: #2196f3;
  $button-hover-color: #188ce8;
  $footer-text-color: rgba(255, 255, 255, 0.6);
  $box-shadow-color: rgba(0, 0, 0, 0.15);
  $header-border-color: #ececec;
  $primary-icon-fill: #afb1b8;
  $secondary-icon-fill: #ffffff;

  // BG colors 
  $primary-bgr-color: #ffffff;
  $secondary-bgr-color: #2f303a;
  $third-bgr-color: #f5f4fa;
  $footer-icon-bg: rgba(255, 255, 255, 0.1);
  $work-box-bg: rgba(47, 48, 58, 0.8);

  // Timing function
  $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  // Fonts 
  $main-font: 'Roboto', sans-serif;
  $secondary-font: 'Raleway', sans-serif;
  $primary-font-size: 14px;

  // card indent 

  // feature-card
  $feature-item: 4;
  $featire-item-indent: 30px;
  $featire-total-indent: calc($featire-item-indent*($feature-item - 1));

  // work-card 
  $work-item: 3;
  $work-item-indent: 30px;
  $work-total-indent: calc($work-item-indent*($work-item - 1));

  $work-item-height: 294px;
  $overlay-work-height: 70px;
  $overlay-work-height-flexible: calc(($overlay-work-height / $work-item-height ) * 100%);